* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #2f2b35;
    color: #fff;
    height: 100%;
}

.void__container {
    width: 200px;
    height: 50px;
}

.nav__container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nav__container input {
    background-color: #19171d;
    border: 1px solid #2b272b;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    padding: 10px;
    outline: none;
    color:rgb(178, 159, 192);
}

.nav__container input:focus{
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid rgb(134, 52, 227);
}

.logo__img {
    width: 300px;
}

.side__bar {
    height: 100%;
    width: 16%;
    background-color: #201c25;
    position: absolute;
    top: 0;
    border-radius: 0 10px 0 0;
    box-shadow: 1px 10px 5px rgba(4, 4, 4, 0.829);
    font-weight: 200;
    font-size: 1.5rem;
    color:rgb(178, 159, 192);
}

.sidebar__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side__bar ul {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side__bar li {
    list-style: none;
    padding: 10px;
}

.side__bar li:hover {
    color: #a45cf5;
    cursor: pointer;
    transition: 0.25s;
}

.side__bar li:active {
    font-weight: 400;
}
main{
    margin: 5% 5% 5% 20%;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background: #201c25;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(4, 4, 4, 0.829);
    transition: transform 0.25s ease-in-out;
}

.card p {
    padding: 10px;
}

.card img {
    height: 350px;
    border-radius: 10px;
    margin: 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: #ad12f5 1px 1px 5px 2px;
}
